.wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content{
    z-index: 2;
    width: 450px;
    height: 660px;
    border-radius: 4px;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
    background-color: rgba(0,0,0,.75);
    color:#8c8c8c;
  }

  .login-title{
    margin-bottom: 28px;
  }
  

  .login-content .form-content{
    height: 365px;
  }

  .login-content .second-form-content{
    height: 195px;
  }

  .face-login{
    display: flex;
    margin-bottom: 15px;
  }
  
  .face-icon{
    background-image: url('https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png');
    background-position: center;
    background-size: cover;
    width:20px;
    height:20px;
    margin-right: 5px;
  }

  .wrapper a{
    text-decoration: none;
  }

  .wrapper a:hover{
    color: white;
  }