.header-wrapper{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    z-index: 10;
}

.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    padding: 0.5rem 1rem 1rem 1rem;
}

.logo-wrapper{
    width: 134px;
    height: 36px;
}

.logo{
    width: 100%;
}