@import url('./auth.css');
@import url('./avatar.css');


.user-background{
    width: 100%;
    height: 166vh;
    background-color: #141414;
    position: absolute;
    top: -123px;
    left: 0;
    overflow: hidden;
}

.profile-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #adbac7;
}

.user-wrapper{
    width: 100%;
    padding: 10px 70px;
    z-index: 0;
    display: flex;
    margin-bottom: 24px;
}

.name-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-size: 1.5rem;
}

.main-container{
    display: flex;
    width: 100%;
    padding: 0 70px;
}

.side-wrapper{
    z-index: 1;
    min-width: 25%;
    height: 100vh;
}

.list-btn{
    color:#adbac7;
    text-decoration: none;
}

.list-btn:hover{
    color:#e6ebf0;

}

.main-wrapper{
    z-index: 1;
    min-width: 65%;
    height: 91.5vh;
    overflow-y: auto;
    margin:0 0 30px 0;
    padding: 64px;
}
.main-wrapper::-webkit-scrollbar {
    display: none;
}

.profile-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-wrapper .form-content{
    width: 400px;
}

.form-content .right-btn{
    position: absolute;
    right: 50px;
    bottom: 0;
}

.profile-box {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
}

.profile-box a {
    transition: transform .3s;
}

.profile-box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

@media screen and (max-width: 768px){
    .main-container{
       flex-direction: column;
    }

    .side-wrapper{
        width: 100%;
        height: auto;
    }

    .main-wrapper{
        width: 100%;
        padding: 50px;
    }

    .profile-box {
        grid-template-columns: repeat(2, 1fr);
    }
}