@import url('./header.css');
@import url('./movie/movie.css');
@import url('./movie/content.css');
@import url('./user/user.css');
@import url('./footer.css');

#background{
    width: 100%;
    height: 156vh;
    background-image: url('../img/background.jpeg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -123px;
    left: 0;
    overflow: hidden;
}

.mask{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}

.btn-wrapper{
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
}

.btn-red{



    
    background-color: #E50914;
    width: 100%;
}

.font-color-white{
    color: white;
}

.auth-input{
    color: white;
    background-color:#333333;
    border:none
}

.auth-input:focus{
    color: white;
    background-color: #333333;
}