{% extends 'index.html' %}
{% load static %}
{% block content %}

  <section class="main-container">
    <div class="location" id="home">
      {% if suggestion_list %}
        <h1>추천컨텐츠</h1>
      {% endif %}
      <div class="box">
        {% for i in suggestion_list %}
          <div class="d-flex flex-column justify-content-between">
            {{ i.title }}
            <a href="/contents/{{ i.id }}"><img src="{{ i.image }}" alt="text"></a>
          </div>

        {% endfor %}
      </div>
      <h1>오늘의 영화</h1>
      <div class="box">
        {% for mv in movie %}
          <div class="d-flex flex-column justify-content-between">
            {{ mv.title }}
            <a href="/contents/{{ mv.id }}"><img src="{{ mv.image }}" alt=""></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
