{% extends 'index.html' %}
{% load static %}
{% block content %}
    <h1>추천컨텐츠</h1>
    <section class="main-container">
        <div class="location" id="home">
        <div class="box">
            {% for i in suggestion_list %}
                    <div>
                        {{ i.title }}
                        <a><img src="{{ i.image }}" alt="text"></a>
                        <div style="text-align: right">
                            <a href="/contents/{{ i.id }}">
                                <span class="badge rounded-pill bg-success">보기</span>
                            </a>
                        </div>
                    </div>

            {% endfor %}
        </div>
            <h1>오늘의 영화</h1>
            <div class="box">
                {% for mv in movie %}
                    <div>
                        {{ mv.title }}
                        {{ mv.year }}
                        {{ mv.genre }}
                        <a href=""><img src="{{ mv.image }}" alt=""></a>
                        {{ mv.video }}
                        {{ mv.cast }}
                        {{ mv.film_rating_system }}
                        {{ mv.information }}
                        <div style="text-align: right">
                            <a href="/contents/{{ mv.id }}">
                                <span class="badge rounded-pill bg-success">보기</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
