<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#메인 페이지 데이터#}
{#이건 contents.html에 넣어서 테스트 하는 form#}
{#    <form action='api/rating_create/{{ contents_movie.id }}' method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit" value="Submit">#}
{#    </form>#}
{#이건 contents.html에 넣어서 테스트 하는 form#}

    <div>
        {% for mv in movie %}
            <div>
                {{ mv.title }}
                {{ mv.year }}
                {{ mv.genre }}
                {{ mv.image }}
                {{ mv.video }}
                {{ mv.cast }}
                {{ mv.film_rating_system }}
                {{ mv.information }}
                <div style="text-align: right">
                    <a href="/contents/{{ mv.id }}">
                        <span class="badge rounded-pill bg-success">보기</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    {#장르 페이지 데이터#}
    <div>
        <form method="GET">
            {{ form.form }}
            <input type="submit" value="Submit">
        </form>
        {% for movie_genre_dict in movie_genre_dict_list %}
            {% for key, value in movie_genre_dict.items %}
                <div style="color:yellow; background-color:red; padding:20px;">
                    {{ key }}
                    <br>
                    {% for mv in value %}
                        {{ mv.title }}
                        {{ mv.year }}
                        {{ mv.genre }}
                        {{ mv.image }}
                        {{ mv.video }}
                        {{ mv.cast }}
                        {{ mv.film_rating_system }}
                        {{ mv.information }}
                        <br>
                    {% endfor %}
                    <br>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

</body>
</html>